---
title: Status
---

.container{"ng-controller" => "StatusCtrl"}
  .row
    .col-md-4.col-sm-6
      #xbox.flip-container
        .flipper
          .front
            = partial(:card, :locals => { :side => 'front', :svcName => "Xbox Live", :statusClass => 'xboxStatus', :lastUpdated => 'xboxLastUpdated', :selectorId => '#xbox', :clickFn => 'checkXboxStatus()', :checkingName => 'isCheckingXbox'})
          .back
            .box
              .statusRow
                Live Core Services:
                .statusIcon
                  %i.fa.fa-lg{:class => "fa-{{xboxCore}}", "ng-class"=>"{'fa-spin': isCheckingXbox}"}
              .statusRow
                Social and Gaming: 
                .statusIcon
                  %i.fa.fa-lg{:class => "fa-{{xboxSG}}", "ng-class"=>"{'fa-spin': isCheckingXbox}"}
              .statusRow
                Purchase and Content:
                .statusIcon
                  %i.fa.fa-lg{:class => "fa-{{xboxPC}}", "ng-class"=>"{'fa-spin': isCheckingXbox}"}
              .statusRow
                TV, Music, and Video:
                .statusIcon
                  %i.fa.fa-lg{:class => "fa-{{xboxMM}}", "ng-class"=>"{'fa-spin': isCheckingXbox}"}
            .box
              = partial(:toolbar, :locals => {:selectorId => '#xbox', :clickFn => 'checkXboxStatus()', :checkingName => 'isCheckingXbox'})
    .col-md-4.col-sm-6
      #psn.flip-container
        .flipper
          .front
            = partial(:card, :locals => { :side => 'front', :svcName => "Playstation Network", :statusClass => 'psnStatus', :lastUpdated => 'psnLastUpdated', :selectorId => '#psn', :clickFn => 'checkPSNStatus()', :checkingName => 'isCheckingPSN'})
          .back
            .box
              .statusRow
                Sony's last update: 
                .statusIcon
                  {{ psnUpdated }}
                  %i.fa.fa-lg{:class => "fa-{{psnUpdatedI}}", "ng-class"=>"{'fa-spin': isCheckingPSN}"}
            .box
              = partial(:toolbar, :locals => {:selectorId => '#psn', :clickFn => 'checkPSNStatus()', :checkingName => 'isCheckingPSN'})
    .col-md-4.col-sm-6
      #steam.flip-container
        .flipper
          .front
            = partial(:card, :locals => { :side => 'front', :svcName => "Steam", :statusClass => 'steamStatus', :lastUpdated => 'steamLastUpdated', :selectorId => '#steam', :clickFn => 'checkSteamStatus()', :checkingName => 'isCheckingSteam'})
          .back
            .box
              .statusRow
                {{ steamServersOn }} out of {{ steamServersTotal }} servers running
            .box
              = partial(:toolbar, :locals => {:selectorId => '#steam', :clickFn => 'checkSteamStatus()', :checkingName => 'isCheckingSteam'})
    .col-md-4.col-sm-6
      #wow.flip-container
        .flipper
          .front
            = partial(:card, :locals => { :side => 'front', :svcName => "World of Warcraft", :statusClass => 'wowStatus', :lastUpdated => 'wowLastUpdated', :selectorId => '#wow', :clickFn => 'checkWowStatus()', :checkingName => 'isCheckingWow'})
          .back
            .box
              .statusRow{"ng-show" => "wowClear"}
                for the
                %br/
                horde!
                /
                  .statusIcon
                    things
                    %i.fa.fa-lg{:class => "fa-clock-o", "ng-class"=>"{'fa-spin': isCheckingWow}"}
            .box
              = partial(:toolbar, :locals => {:selectorId => '#wow', :clickFn => 'checkWowStatus()', :checkingName => 'isCheckingWow'})
    .col-md-4.col-sm-6
      #facebook.flip-container
        .flipper
          .front
            = partial(:card, :locals => { :side => 'front', :svcName => "Facebook", :statusClass => 'facebookStatus', :lastUpdated => 'facebookLastUpdated', :selectorId => '#facebook', :clickFn => 'checkFacebookStatus()', :checkingName => 'isCheckingFacebook'})
          .back
            .box
              .statusRow
                /
                  .statusIcon
                    things
                    %i.fa.fa-lg{:class => "fa-clock-o", "ng-class"=>"{'fa-spin': isCheckingFacebook}"}
            .box
              = partial(:toolbar, :locals => {:selectorId => '#facebook', :clickFn => 'checkFacebookStatus()', :checkingName => 'isCheckingFacebook'})
